html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    background-image: url('/img/background_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix background */
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --border-color: rgb(255, 14, 14);
    --border-radius: 10px;
    --font-size: 24px;
    --letter-spacing: 2px;
    --button-padding: 8px 16px;
    --button-font-size: 16px;
}

#hasEnteredImg {
    /* Add your styling here */
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add more styles as needed */
}

.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scratch-container {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    margin: 0;
    overflow: hidden;
    position: relative;
}

.bottom-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    display: none;
}

.bottom-image-container.show {
    display: block;
}

.bottom-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.logo-container {
    position: fixed;
    bottom: 15px;
    width: 20%;
    height: auto;
    z-index: 2;
}

.left-logo {
    left: 20px;
}

.right-logo {
    right: 20px;
    bottom: 35px;
}

@media (min-width: 1080px) {
    .bottom-image-container img,
    #hasEnteredImg,
    #scratch-canvas {
        background-image: url('img/desktop_image.png');
    }
}

@media (min-width: 800px) and (max-width: 1079px) {
    .bottom-image-container img,
    #hasEnteredImg,
    #scratch-canvas {
        background-image: url('img/tablet_image.png');
    }
}

@media (max-width: 799px) {
    .bottom-image-container img,
    #hasEnteredImg,
    #scratch-canvas {
        background-image: url('img/mobile_image.png');
    }
}

